

[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
  color: #808080;
}

[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
  border: 1px solid #808080;
}

[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
  background: #808080;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}


.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}


/* Estilo para el ícono en un paso seleccionado */
.mat-step-header .mat-step-icon-selected {
  background-color: #ffcc00; /* Cambia el color de fondo */
  color: #333; /* Cambia el color del ícono */
}

/* Estilo para el ícono en un paso completado */
.mat-step-header .mat-step-icon-state-done {
  background-color: #00ff00; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del ícono */
}

/* Estilo para el ícono en un paso en estado de edición */
.mat-step-header .mat-step-icon-state-edit {
  background-color: #3399ff; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del ícono */
}

.table-dark{
  /*background-color: rgb(13, 98, 94) !important;*/
  background-color: rgb(198, 232, 114) !important;
  color: rgba(33,37,41, 1);
}








