

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}


.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}


/* Estilo para el ícono en un paso seleccionado */
.mat-step-header .mat-step-icon-selected {
  background-color: #ffcc00; /* Cambia el color de fondo */
  color: #333; /* Cambia el color del ícono */
}

/* Estilo para el ícono en un paso completado */
.mat-step-header .mat-step-icon-state-done {
  background-color: #00ff00; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del ícono */
}

/* Estilo para el ícono en un paso en estado de edición */
.mat-step-header .mat-step-icon-state-edit {
  background-color: #3399ff; /* Cambia el color de fondo */
  color: #fff; /* Cambia el color del ícono */
}


