
<div class=" text-center" style="height: 100vh;">

		<div class="row h-100 "  style="margin-left: 0px!important; margin-right: 0px!important;">

			<div class="col-12 col-md-3 cf-0 h-100 fr-scroll" id="subMenu">
				<div class="d-flex justify-content-center" style="height: 610px;">
					<div class="d-block pt-5">
						<div class="pb-5">
							<img src="../../../../../assets/img/logo-cie.jpg" alt="" style="height: 120px; width: 120px;" class="img-thumbnail rounded-circle">
						</div>
						<div class="pb-4" ><p class="fs-6 fw-bold text-white">MUNICIPALIDAD DISTRITAL DE CIENEGUILLA</p></div>

						<div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom mb-2">ESCRITOS Y REQUERIMIENTOS</span><br/><br/>
							<span class="fw-lighter text-white">Horario de Atención:</span><br/>
							<span class="fw-lighter text-white">Lunes a Viernes de 8:00 a 17:00 hrs.</span><br/>
							<span class="fw-lighter text-white">Central Telefónica:</span><br/>
							<span class="fw-lighter text-white">(01) 4799494</span><br/>
							<span class="fw-lighter text-white">Dirección de sede principal:</span><br/>
							<span class="fw-lighter text-white">Av. Nueva Toledo 97B Distrito de Cieneguilla  - Perú.</span><br/>
						</div>

						<!-- <div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom">SEDES</span><br/><br/>
							<span class="fw-lighter text-white fw-semibold border-bottom">Centro de interpretación</span><br/>
							<span class="fw-lighter text-white">Areas:</span><br/>
							<span class="fw-lighter text-white">Subgerencia De Desarrollo Económico Local y Turismo Subgerencia De Gestión Del Riesgos De Desastres e ITTSE</span><br/>
							<span class="fw-lighter text-white">Dirección:</span><br/>
							<span class="fw-lighter text-white">Inca Roca 8, Plaza de Armas - Cieneguilla</span><br/>
						</div>

						<div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom">Casa de La Cultura</span><br/>
							<span class="fw-lighter text-white">Areas:</span><br/>
							<span class="fw-lighter text-white">Gerencia de Desarrollo Social Subgerencia De Salud, Servicios y Programas Sociales OMAPED DEMUNA</span><br/>
							<span class="fw-lighter text-white">Dirección:</span><br/>
							<span class="fw-lighter text-white">Av. San Martin Manzana L Lote1 - AAHH. Magda Portal II - Cieneguilla</span><br/>
						</div>

						<div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom">Parque Zona B</span><br/>
							<span class="fw-lighter text-white">Areas:</span><br/>
							<span class="fw-lighter text-white">Gerencia De Servicios a La Ciudad y Medio Ambiente Subgerencia De Medio Ambiente A</span><br/>
							<span class="fw-lighter text-white">Dirección:</span><br/>
							<span class="fw-lighter text-white">Cruce de Av. Inca Yupanqui con Av. Manco Cápac - Cieneguilla</span><br/>
						</div>

						<div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom">Seguridad Ciudadana</span><br/>
							<span class="fw-lighter text-white">Areas:</span><br/>
							<span class="fw-lighter text-white">Gerencia De Seguridad Ciudadana y Control Municipal Subgerencia De Fiscalización y Control Municipal</span><br/>
							<span class="fw-lighter text-white">Dirección:</span><br/>
							<span class="fw-lighter text-white">Av. Mayta Cápac, Parque de los Anillos - Cieneguilla</span><br/>
						</div> -->

						<div class="pb-5 pt-4" >
							<span class="fw-lighter text-white fw-semibold">Redes Sociales</span><br/>
							<div class="mt-2">
								<a href="https://www.facebook.com/MunicipalidadCieneguilla" target="_blank" rel="noopener noreferrer" class="m-2"><i class="fa-brands fa-facebook fa-xl" style="color: white;"></i></a>
								<a href="https://www.tiktok.com/@municieneguilla" target="_blank" rel="noopener noreferrer"  class="m-2"><i class="fa-brands fa-tiktok fa-xl" style="color: white;"></i></a>
								<a href="https://www.instagram.com/muni.cieneguillaoficial/" target="_blank" rel="noopener noreferrer"  class="m-2"><i class="fa-brands fa-instagram fa-xl" style="color: white;"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-9 h-100 position-relative overflow-hidden" style="padding-left: 0px!important; padding-right: 0px!important;" id="subContend">
				<!-- Imagen en el Css -->
				<div class="position-absolute h-100 w-100"><div class="img-fondo h-100 w-100"></div></div>
				<!-- Texto de fondo container -->
				<div class="position-absolute d-flex justify-content-center align-items-center h-100 w-100 z-2 cfo5-0">
					<div class="mx-5"  id="transitionContent">
						<div class="">
							<div class="pt-4 pb-4" >
								<p class="fs-3 fw-bold lh-base text-white">BIENVENIDOS A LA MESA DE PARTES VIRTUAL DE LA MUNICIPALIDAD DE CIENEGUILLA</p>
							</div>

							<div class="row d-flex justify-content-center align-items-center">

								<div class="m-2 col-auto">
									<div class="tr_box d-flex justify-content-center align-items-center">
										<div class="tr-box-h cfo9-0">
											<div class="tr-box-s-show">
												<i class="fa-solid fa-laptop-file fa-2xl" style="color: white;"></i>
											</div>
											<div class="tr-box-n-show">
												<a routerLink="expediente" class="text-decoration-none h-100 w-100 d-flex justify-content-center align-items-center" style="color: white;">
													<span class="d-block">INGRESAR NUEVO DOCUMENTO</span>
												</a>
											</div>
										</div>
									</div>
								</div>

								<div class="m-2 col-auto">
									<div class="tr_box d-flex justify-content-center align-items-center">
										<div class="tr-box-h cfo9-0">
											<div class="tr-box-s-show">
												<i class="fa-solid fa-magnifying-glass fa-2xl" style="color: white;"></i>
											</div>
											<div class="tr-box-n-show">
												<a routerLink="consulta" class="text-decoration-none h-100 w-100 d-flex justify-content-center align-items-center" style="color: white;">
													<span class="d-block">CONSULTAR DOCUMENTO INGRESADO</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="row">
								<div><button type="button" class="btn btn-link text-white" (click)="openModal()">Ver video 1</button></div>
								<div><button type="button" class="btn btn-link text-white" (click)="openModal1()">Ver video 2</button></div>
							</div> -->
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 cf-0 d-none h-auto" id="subMenuFooter">
					<div class="d-block pt-3">
						<div class="pb-3">
							<img src="../../../../../assets/img/logo-cie.jpg" class="img-thumbnail rounded-circle" style="height: 120px; width: 120px;">
						</div>
						<div class="pb-4" ><p class="fs-6 fw-bold text-white">MUNICIPALIDAD DISTRITAL DE CIENEGUILLA</p></div>

						<div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom">ESCRITOS Y REQUERIMIENTOS</span><br/><br/>
							<span class="fw-lighter text-white">Horario de Atención:</span><br/>
							<span class="fw-lighter text-white">Lunes a Viernes de 8:00 a 17:00 hrs.</span><br/>
							<span class="fw-lighter text-white">Central Telefónica:</span><br/>
							<span class="fw-lighter text-white">(01) 4799494</span><br/>
							<span class="fw-lighter text-white">Dirección de sede principal:</span><br/>
							<span class="fw-lighter text-white">Av. Nueva Toledo 97B Distrito de Cieneguilla  - Perú.</span><br/>
						</div>

						<!-- <div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom">SEDES</span><br/><br/>
							<span class="fw-lighter text-white fw-semibold border-bottom">Centro de interpretación</span><br/>
							<span class="fw-lighter text-white">Areas:</span><br/>
							<span class="fw-lighter text-white">Subgerencia De Desarrollo Económico Local y Turismo Subgerencia De Gestión Del Riesgos De Desastres e ITTSE</span><br/>
							<span class="fw-lighter text-white">Dirección:</span><br/>
							<span class="fw-lighter text-white">Inca Roca 8, Plaza de Armas - Cieneguilla</span><br/>
						</div>

						<div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom">Casa de La Cultura</span><br/>
							<span class="fw-lighter text-white">Areas:</span><br/>
							<span class="fw-lighter text-white">Gerencia de Desarrollo Social Subgerencia De Salud, Servicios y Programas Sociales OMAPED DEMUNA</span><br/>
							<span class="fw-lighter text-white">Dirección:</span><br/>
							<span class="fw-lighter text-white">Av. San Martin Manzana L Lote1 - AAHH. Magda Portal II - Cieneguilla</span><br/>
						</div>

						<div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom">Parque Zona B</span><br/>
							<span class="fw-lighter text-white">Areas:</span><br/>
							<span class="fw-lighter text-white">Gerencia De Servicios a La Ciudad y Medio Ambiente Subgerencia De Medio Ambiente A</span><br/>
							<span class="fw-lighter text-white">Dirección:</span><br/>
							<span class="fw-lighter text-white">Cruce de Av. Inca Yupanqui con Av. Manco Cápac - Cieneguilla</span><br/>
						</div>

						<div class="pb-3" >
							<span class="fw-lighter text-white fw-semibold border-bottom">Seguridad Ciudadana</span><br/>
							<span class="fw-lighter text-white">Areas:</span><br/>
							<span class="fw-lighter text-white">Gerencia De Seguridad Ciudadana y Control Municipal Subgerencia De Fiscalización y Control Municipal</span><br/>
							<span class="fw-lighter text-white">Dirección:</span><br/>
							<span class="fw-lighter text-white">Av. Mayta Cápac, Parque de los Anillos - Cieneguilla</span><br/>
						</div> -->

						<div class="pb-5 pt-4" >
							<span class="fw-lighter text-white fw-semibold">Redes Sociales</span><br/>
							<div class="mt-2">
								<a href="https://www.facebook.com/MunicipalidadCieneguilla" target="_blank" rel="noopener noreferrer" class="m-2"><i class="fa-brands fa-facebook fa-xl" style="color: white;"></i></a>
								<a href="https://www.tiktok.com/@municieneguilla" target="_blank" rel="noopener noreferrer"  class="m-2"><i class="fa-brands fa-tiktok fa-xl" style="color: white;"></i></a>
								<a href="https://www.instagram.com/muni.cieneguillaoficial/" target="_blank" rel="noopener noreferrer"  class="m-2"><i class="fa-brands fa-instagram fa-xl" style="color: white;"></i></a>
							</div>
						</div>
					</div>
			</div>
			
		</div>

	<!-- <div id="myModal" class="modal" tabindex="-1" role="dialog" style="--bs-bg-opacity: .4;background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;">
		<div class="modal-dialog modal-dialog-centered" >
			<div class="modal-content" >
				<div class="modal-body">
					<app-videoplayer [funcionExterna]="closeModal" [valorDesdePadre]="uri1"></app-videoplayer>
				</div>
			</div>
		</div>
	</div>

	
	<div id="myModal1" class="modal" tabindex="-1" role="dialog" style="--bs-bg-opacity: .4;background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;">
		<div class="modal-dialog modal-dialog-centered" >
			<div class="modal-content" >
				<div class="modal-body">
					<app-videoplayer [funcionExterna]="closeModal1" [valorDesdePadre]="uri2"></app-videoplayer>
				</div>
			</div>
		</div>
	</div> -->

</div>