input[type='checkbox'] {
	margin-top: -30px;
}

input[type='checkbox'] {
	 -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    width: 15px;
    height: 15px;
    margin: 0;
    margin-right: 7px;
    display: block;
    float: left;
    position: relative;
    cursor: pointer;
    border: 1px solid #C4C4C4;
    margin-bottom: 14px;
    top: 9px;
}

input[type='checkbox']:after {
	content: "";
	vertical-align: middle;
	text-align: center;
	line-height: 13px;
	position: absolute;
	cursor: pointer;
	height: 15px;
	width: 15px;
	left: 0;
	top: 0;
	font-size: 12px;
	-webkit-box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
	box-shadow: inset 0 1px 1px #fff, 0 1px 0 #fff;
	background: #fff;
	border: 1px solid #C4C4C4;
}

input[type='checkbox']:hover:after, input[type='checkbox']:checked:hover:after {
	background: #fff;
	content: '\2714';
	color: #333;
	border: 1px solid #C4C4C4;
}

input[type='checkbox']:checked:after {
	background: #fff;
	content: '\2714';
	color: #333;
	border: 1px solid #C4C4C4;
}

.custom-control-label::after {
    /*position: absolute;
    top: 3px;
    left: 0;
    height: 17px;
    width: 17px;*/
    background-color: #fff;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
}
.checkmark2 {
    background-color: #fff;
    border: 1px solid #5d9a46;
}
.cerrar {
    color: rgb(255, 255, 255);
    line-height: 1;
    font-size: 1.9rem;
    font-weight: 700;
    float: right;
    opacity: 1;
    text-shadow: 0px 1px 0px #00000036;
}
.mb-5 {
    margin-bottom: 9px !important;
}
  textarea {
      resize: none;
  }
  .obligatorio {
      color: #808080;
      font-size: 12px;
      top: 0px;
      position: absolute;
      margin-left: 5px;
      /* font-family: Arial, Helvetica, sans-serif; */
  }
  .obligatorio2 {
      color: #808080;
      font-size: 12px;
      top: 0px;
      /*position: absolute;*/
      margin-left: 5px;
      /* font-family: Arial, Helvetica, sans-serif; */
  }
  .asterisco {
      color: #EB5757;
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      margin-top: 0px;
    top: 31px;
      position: absolute;
      margin-left: 10px;
  }
  .cuadro-cabecera {
    max-width: 1090px;
    padding-top: 5px;
    padding-bottom: 5
    px;
    /*padding: 1.2rem 1rem!important;
    padding-top: 22px;
    padding-bottom: 20px;*/
  }
  .cuadro-blanco {
    max-width: 1090px;
    background: #fff;
    /* border-radius: 10px!important; */
    /* padding: 0rem 1rem!important; */
    /* padding-top: 22px; */
    /* padding-bottom: 20px; */
    border: 1px solid #BDBDBD;
    margin-bottom: 2rem;
  }
  .titulo1 {
    color: #FFF;
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      margin-bottom: 0px;
      margin-top: 7px;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 37px;
      background-color: #1A984D;
  }
  .titulo-1 {
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: #808080;
      background-color: #EFEFEF;
      /* height: 75px; */
      /* margin-top: -46px; */
      /* margin-bottom: 0px; */
      /* padding-top: 25px; */
      border-bottom: 0.5px solid #808080a1;
      /* position: absolute; */
      /* width: 1200px; */
      /* left: 107px; */
      /* top: 140px; */
  }
  .titulo-11 {
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      font-style: normal;
      /* font-weight: 600; */
      font-size: 20px;
      line-height: 30px;
      /* text-align: left; */
      color: #808080;
      background-color: #EFEFEF;
      /* height: 75px; */
      /* margin-top: -46px; */
      /* margin-bottom: 0px; */
      /* padding-top: 25px; */
      border-bottom: 0.5px solid #808080a1;
      /* padding-left: 20px; */
      /* position: absolute; */
      /* width: 1200px; */
      /* left: 107px; */
      /* top: 140px;*/
  }
  .textos {
      color: #808080;
      font-size: 16px;
  }




  .w3-input {
    border: none;
    border-bottom: 1.3px solid #a6cab1;
    background: #f2f2f2;
    outline: none;
    width: 100%;
    font-size: 13.5px;
    padding: 0.47rem 0.55rem;
    border-radius: 0.25rem;
    border: 0px solid rgb(93, 154, 70);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-image: none;
    width: 100%;
    color: #7a7a7a;
    line-height: 1.5;
  }
  .styled-select select {
    background: transparent;
    border: none;
    font-size: 12px;
    height: 29px;
    padding: 5px;
    width: 100%;
  }
  .green select {
    color: #61a665;
  }
  .mensaje {
    display: block;
    color: #F2994A;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-weight: bold;
  }

  .titulo-2 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    color: #61a665;
    padding-bottom: 12px;
  }
  .titulo-3 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    color: #61a665;
    padding-bottom: 3px;
  }
  .titulo-4 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    color: #61a665;
    padding-bottom: 0px;
  }
  .tagsButton03 {
    cursor: pointer;
    display: inline-block;
    background-color: #f84a4c;
    border-color: #f84a4c;
    color: #fff;
    border: 0px solid #f84a4c;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 13px 20px 13px 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
  }
  .tagsButton030 {
    cursor: pointer;
  display: inline-block;
    background-color: #f84a4c;
    border-color: #f84a4c;
    color: #fff;
    border: 0px solid #f84a4c;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 6px 20px 6px 20px;
    font-size: 20px;
    line-height: 29px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .tagsButton04 {
    cursor: pointer;
  display: inline-block;
    background-color: #f89748;
    border-color: #f89748;
    color: #fff;
    border: 0px solid #f89748;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 7px 22px 7px 22px;
    font-size: 13px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  .tagsButton05 {
    cursor: pointer;
    display: inline-block;
    background-color: #1A984D;
    border-color: #1A984D;
    border: 0px solid #1A984D;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 13px 20px 13px 20px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
  }

  .tagsButton050 {
    cursor: pointer;
    display: inline-block;
    background-color: #679a4b;
    border-color: #679a4b;
    border: 0px solid #679a4b;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 5px;
    padding: 6px 20px 6px 20px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  line-height: 29px;
    text-align: center;
    color: #FFFFFF;
  }



  .subtitulo_2 {
    display: block;
    color: #838383;
    font-size: 14px;
    padding-bottom: 5px;
  }
  .modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(148, 148, 148, 0.68);
    border-radius: 1.3rem;
    outline: 0;
    color: #292929;
  }
  .modal-content2 {
    position: relative;
    background-color: #1A984D;
    background-clip: padding-box;
    border: 1px solid rgba(26, 152, 77, 0.68);
    border-radius: 1.3rem;
    outline: 0;
    color: #fff;
  }
  .text-xs-center {
    text-align: center !important;
  }

  .boton-verde {
    border: none;
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    padding: 15px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #FFF;
    background-color: #61a665;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    width: 76%;
    font-size: 15px;
    font-weight: 700;
    text-transform: none;
  }
  .modal-header {
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 0px;
    text-align: center;
  }
  .modal-body {
    position: relative;
    padding: 15px;
  }
  .modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 0px solid #e5e5e5;
  }
  button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    /* -webkit-appearance: none; */
  }
  .modal-header .close {
    margin-top: -9px;
    margin-right: -10px;
  }
  .titulo-modal, h3 {
    color: #ffffff;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -18px;
    margin-top: 40px;
  }
  .modal-title {
    margin: 0;
    line-height: 1.5;
  }
  .fade.in {
    opacity: 1;
  }
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
  .custom-control {
    padding-left: 0.0rem;
    display: block;
    position: relative;
    min-height: 1.5rem;
  }
  .check-1 {
    height: 16px;
    width: 16px;
  }




  .titulo-01 {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    margin-top: 0px!important;
    /* margin-bottom: 5px; */
    color: #5d9a46;
    /* width: 50%; */
    /* border-bottom: solid 1px; */
  }
  .mayuscula{    
    text-transform: lowercase; } 
    
   .mayuscula ::first-letter { 
   text-transform: uppercase;   
    } 
  .altura1 {
  margin-top: -15px;
  }
  .altura2 {
  margin-top: -15px;
  }
  .altura-02 {
  margin-top: -15px;
  right: 30px;
  }
  .terminoy{
  text-align: left;
    margin-left: -26px;
    margin-top: -5px;
  }
  .arboles{
  position: absolute; 
  display: block; 
  margin-left: 910px;
  }

    @media(max-width:1200px){

      .col-lg-12{width:100%;}
      .col-lg-11{width:91.66666667%;}
      .col-lg-10{width:83.33333333%;}
      .col-lg-9{width:75%;}
      .col-lg-8{width:66.66666667%;}
      .col-lg-7{width:58.33333333%;}
      .col-lg-6{width:50%;}
      .col-lg-5{width:41.66666667%;}
      .col-lg-4{width: 33.33333333%;}
      .col-lg-3{width: 25%;}
      .col-lg-2 {width: 16.66666667%;}
      .col-lg-1 {width: 8.33333333%;}
      .col-lg-0 {display:none;}

      .regresar1 {
      display:none;
      }
      .container {
        width: 96%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        /* background-color: #669966; */
      }
    }

    @media(max-width:767px){

      .col-xs-12{width:100%;}
      .col-xs-11{width:91.66666667%;}
      .col-xs-10{width:83.33333333%;}
      .col-xs-9{width:75%;}
      .col-xs-8{width:66.66666667%;}
      .col-xs-7{width:58.33333333%;}
      .col-xs-6{width:50%;}
      .col-xs-5{width:41.66666667%;}
      .col-xs-4{width: 33.33333333%;}
      .col-xs-3{width: 25%;}
      .col-xs-2{width: 16.66666667%;}
      .col-xs-1{width: 8.33333333%;}
      .col-xs-0 {display:none;}

      .regresar2 {
      display:none;
      }
      .titulo1 {
        font-size: 13px;
      margin-top: 0px;
        margin-bottom: -3px;
      }
      .btnEnviar {
        cursor: pointer;
        color: #ffffff;
        border: 0px solid #669966;
        border-radius: 2px;
        text-transform: uppercase;
        background: #61a665;
        padding: 9px 10px;
        font-size: 19px;
        font-weight: 600;
        width: 88%;
      }
      .altura2 {
      margin-top: 0px;
      }
      .altura-02 {
      margin-top: 0px;
      right: 0px;
      }
      .terminoy{
      text-align: left;
        margin-left: 37px;
        margin-top: -24px;
      }
      .arboles{
      display:none;
      }
    }



.tr_box{
	position: relative;
	border: 1px solid rgba(13, 98, 94,1);
	/*	background-color: red; */
	height: 5rem;
	width: 12rem;
	cursor: pointer;
	overflow: hidden;
  border-radius: 10px;
}

.tr-box-h {
	height: 100%;
	width: 100%;
}

.tr-box-s-show {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top:0%;
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tr-box-n-show {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom:-100%;
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tr_box > .tr_box-h > .tr-box-n-show > a > span {
	font-size: 26px!important;
	color: white! important;
}


.tr_box:hover{
	/* border: 1px solid rgba(13, 98, 94,.8);66D37E  */
	border: 2px solid rgba(102, 211, 126,1); 
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: scale(1.05);
}
.tr_box:hover .tr-box-s-show {
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	top:-100%
}

.tr_box:hover .tr-box-n-show {
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	bottom:0%
}
    


.img-fondo {
  background-image: url('../../../../assets/img/cieneguilla.jpg');
  background-size: cover;
  background-position: center;
}


/* SCROLL MENU */

.fr-scroll{
  overflow-x: hidden;
}
.fr-scroll::-webkit-scrollbar {
  width: 5px; 
}
.fr-scroll::-webkit-scrollbar-thumb {
  background-color: #66D37E; 
}

/* transicion container */
.fr-content-transition {
  bottom:auto;
  /* animation: my-animatio 2s linear infinite; */
  /* animation-delay: 2s; */
  animation-name: my-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  /* transition: ease-in-out 2s; */
  /* animation-direction: alternate; */
  /* animation-iteration-count: initial; */
  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */

  
  /* background-color: #ff7a59; */
  /* transition: ease 3s; */
}

/* @keyframes my-animation {
  0% {
    bottom: 100%;
    background-color: #ff7a59;
  }
  0% {
    bottom: 50%;
    background-color: #ff7a59;
  }
  100% {
    bottom: auto;
    background-color: #460e00;


  }
}

.fr-content-transition-v {
  top:auto;
  transition: 4s all;
} */

