

.tr_box{
	position: relative;
	border: 1px solid rgba(13, 98, 94,1);
	/*	background-color: red; */
	height: 5rem;
	width: 12rem;
	cursor: pointer;
	overflow: hidden;
  border-radius: 10px;
}

.tr-box-h {
	height: 100%;
	width: 100%;
}

.tr-box-s-show {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top:0%;
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tr-box-n-show {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom:-100%;
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tr_box > .tr_box-h > .tr-box-n-show > a > span {
	font-size: 26px!important;
	color: white! important;
}


.tr_box:hover{
	/* border: 1px solid rgba(13, 98, 94,.8);66D37E  */
	border: 2px solid rgba(102, 211, 126,1); 
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: scale(1.05);
}
.tr_box:hover .tr-box-s-show {
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	top:-100%
}

.tr_box:hover .tr-box-n-show {
	transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
	bottom:0%
}
    


.img-fondo {
  background-image: url('../../../../assets/img/cieneguilla.jpg');
  background-size: cover;
  background-position: center;
}


/* SCROLL MENU */

.fr-scroll{
  overflow-x: hidden;
}
.fr-scroll::-webkit-scrollbar {
  width: 5px; 
}
.fr-scroll::-webkit-scrollbar-thumb {
  background-color: #66D37E; 
}

/* transicion container */
.fr-content-transition {
  bottom:auto;
  /* animation: my-animatio 2s linear infinite; */
  /* animation-delay: 2s; */
  animation-name: my-animation;
  animation-duration: 1s;
  animation-iteration-count: 1;
  /* transition: ease-in-out 2s; */
  /* animation-direction: alternate; */
  /* animation-iteration-count: initial; */
  /* animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */

  
  /* background-color: #ff7a59; */
  /* transition: ease 3s; */
}

.btn-link:hover{
	color: rgb(18, 217, 252)!important;
}













